@{
    ViewBag.Title = "JSNLog - Better JavaScript Logging";
    Layout = "~/Areas/Version1/Views/Shared/_Layout.cshtml";
}

@section Hero {
    <section class="hero large-text">
        <section class="benefits">
            <h1>Client side logging integrated with ASP.NET and MVC</h1>
            <p>
            JSNLog lets you insert loggers in your client side JavaScript,
            configure them in your web.config, and store their messages
            in your server side logs - without any server side coding.
            </p>
        </section>
    </section>
}

<section class="features">
    <div class="leftColumn">
        @Feature(
            "",
            @"Insert client side loggers",
            @"<pre>jsnlog.getLogger(""jsLogger"").fatal(<br />    ""Client side message, severity fatal"");</pre>")

        @Feature(
        "",
        @"Log any object, not just text",
        @"<pre>var myObject = new MyObject(); 
jsnlog.getLogger(""mylogger"").info(myObject);
</pre>
")

    @Feature(
        "",
        @"Store client side log messages in your server side logs",
        @"<pre>
csLogger, ERROR, Server side message
jsLogger, FATAL, Client side message, severity fatal
csLogger2, INFO, Server side info message
...
</pre>
")

    @Feature(
        "",
        @"Easy to use:",
        @"<ul>
        <li>
        Fully documented
        </li>
        <li>
        Open source, MIT license
        </li>
        <li>
        No dependencies on other JavaScript libraries
        </li>
        <li>
        Highly configurable
        </li>
        </ul>")
    </div>
    <div class="rightColumn">
    @Feature(
        "",
        @"Configure loggers in your web.config",
        @"<pre>&lt;jsnlog ... &gt;
   &lt;logger name=&quot;jsLogger&quot;&gt;
      &lt;level value=&quot;ERROR&quot;&gt;
   &lt;/logger&gt;
&lt;/jsnlog&gt;
</pre>
")

    @Feature(
        "",
        @"Reduce AJAX requests by batching log messages",
        @"<pre>&lt;appender name=&quot;appender1&quot;&gt;
   <b>&lt;batchSize value=&quot;2&quot;&gt;</b>
&lt;/appender&gt;</pre>
")

    @Feature(
        "",
        @"Only log for certain user agents or IP addresses",
                        @"<pre>&lt;logger name=&quot;jsLogger&quot;&gt;
   &lt;userAgentRegex value=&quot;MSIE 7&quot;&gt;
&lt;/logger&gt;</pre>
")

    @Feature(
        "",
        @"",
        @"<div class=""download"">" + 
        Html.Raw(Html.Partial("Partials/_DownloadButton").ToHtmlString()) +
        "</div>")
    </div>
</section>

@helper Feature(string title, string text, string code)
    {
    @Html.Raw(@"<section class=""feature"">" +
            //"<h2>" + title + "</h2>" + 
        @"<h2 class=""text"">" + text + "</h2>" +
        (string.IsNullOrEmpty(code) ? "" : @"<section class=""code"">" + code + "</section>") +
    "</section>")
}




