@{
    ViewBag.Title = "Getting Started";
    ViewBag.Key = "getstartedlogging";
    ViewBag.Description = "Start logging with JSNLog";
}

<h1>Getting Started</h1>
<p>
You'll get the most out of JSNLog if you read this first.
<ul>
<li><a href="#shortstory">Short Version</a> - gets you going quickly</li>
<li><a href="#longstory">Detailed Version</a> - gets you the details</li>
</ul>
</p>

<h2><a name="shortstory"></a>Short Version</h2>

<p>
After installation, the default configuration in your web.config
is enough to get you logging messages from JavaScript. All you need to do is add loggers to your JavaScript code.
Here is how:
</p>

<ol>
<li>
To log a message, insert a line like this:
<p>
<pre>
jsnlog.getLogger("mylogger").info("Something happened");
</pre>
</p>
</li>

<li>
This creates a logger <i>mylogger</i> (if it doesn't already exist) and
tells it to log the message <i>Something happened</i> with severity INFO.
You can make up any logger name you want. No need to declare loggers before use.
<p />
</li>

<li>
Instead of a simple string, you could log an entire object. JSNLog will create a log message with all the values in your object.
<p>
<pre>
var myObject = new MyObject(); 
jsnlog.getLogger("mylogger").info(myObject);
</pre>
</p>

<p />
</li>

<li>
You can choose any of these severities: TRACE, DEBUG, INFO, WARN, ERROR and FATAL
(<a href="@Url.Action("JavaScriptFunctions")#js-trace">how</a>).
<p />
</li>

<li>
In addition to simple messages, you can 
<a href="@Url.Action("JavaScriptFunctions")#js-time">send timing information</a>
 and check the correctness of your code with 
 <a href="@Url.Action("JavaScriptFunctions")#js-assertEqual">assertEqual</a>.
And you can 
<a href="@Url.Action("Configuration")#configuration">configure your loggers</a> in your web.config, for example to 
<a href="@Url.Action("Configuration")#config-level">only allow</a> FATAL messages and ignore everything else.
Or to <a href="@Url.Action("Configuration")#config-batchSize">batch messages</a> to reduce bandwidth and load on your server.
<p />
</li>
</ol>

<p>
Want to know more?
Continue on to the detailed version.
</p>

<h2><a name="longstory"></a>Detailed Version</h2>
<p>
<a href="#shortstory">Be sure to first read the short version</a>. Then get back here for the details.
</p>

<p>
JSNLog works along the same lines as Log4Net or Log4J - everything revolves around
<a href="#long-loggers">loggers</a> and <a href="#long-appenders">appenders</a>.
</p>

<p>
First we'll look at the loggers, and then the appenders.
Then if you want to know more, 
read up on
all the
<a href="@Url.Action("JavaScriptFunctions")#clientside">methods you can use in your JavaScript</a>
and
the
<a href="@Url.Action("Configuration")#configuration">Web.config elements</a>
you can use to configure your loggers.
</p>

<a name="long-loggers"></a><h3>Loggers</h3>
<p>
<a href="#shortstory">As you saw</a>,
to log a message, you first get a logger and then tell it to log the message:
</p>
<pre>
jsnlog.getLogger("mylogger").info("Something happened");
</pre>

<h4>Severity</h4>

<p>
You will want to give each message a severity - to distinguish between humble TRACE messages and red hot urgent FATAL messages.
For each message, you can choose one of these severities: 
</p>
<table class="border">
<tr><th>Severity&nbsp;&nbsp;&nbsp;</th><th>Sample JavaScript code</th></tr>
<tr><td>TRACE</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-trace">trace</a>("Something happened");</td></tr>
<tr><td>DEBUG</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-debug">debug</a>("Something happened");</td></tr>
<tr><td>INFO</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-info">info</a>("Something happened");</td></tr>
<tr><td>WARN</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-warn">warn</a>("Something happened");</td></tr>
<tr><td>ERROR</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-error">error</a>("Something happened");</td></tr>
<tr><td>FATAL</td><td>jsnlog.getLogger("mylogger").<a href="@Url.Action("JavaScriptFunctions")#js-fatal">fatal</a>("Something happened");</td></tr>
</table>
<p>
As you'd expect, FATAL is more severe than ERROR, ERROR more severe than WARN, etc.
</p>

<h4>Levels</h4>

<p>
You may decide that in production, you're normally only interested in FATAL messages, while in development
you want to receive everything with severity DEBUG and higher, and maybe some selected TRACE messages. To
make this work, you can tell each logger to filter messages by setting its level in your web.config, like so: 
</p>

<pre>
&lt;jsnlog ... &gt;
   &lt;logger name="mylogger"&gt;
      &lt;level value="ERROR"&gt;
   &lt;/logger&gt;
&lt;/jsnlog&gt;
</pre>

<p>
This tells logger <i>mylogger</i> to only log messages with severity ERROR or higher, and to ignore all other messages
(<a href="@Url.Action("Configuration")#config-level">details</a>).
</p>

<a name="long-logger-inheritance"></a><h4>Inheritance</h4>

<p>
However, depending on the size of your JavaScript code, you might be logging messages in dozens or even hundreds of places -
TRACE messages at the beginning of functions, FATAL messages in exception handlers, etc.
And you'll want to give each logger a unique name, so you can configure each logger individually.
However, setting levels for hundreds of loggers in your web.config wouldn't be much fun.
</p>
<p>
The solution is that you can organise loggers in a hierarchy based on their name, using a dot notation. For example:
</p>
<ul>
<li>
The parent of logger <i>Validators.IsNumeric.exceptionHandler</i> is logger <i>Validators.IsNumeric</i>
</li>
<li>
The parent of logger <i>Validators.IsNumeric</i> is logger <i>Validators</i>
</li>
<li>
The parent of logger <i>Validators</i> is the system defined root logger.
</li>
</ul>

<p>
Unless you set a logger's level in your web.config, it inherits its level from its parent. This way, if you set the level of
<i>Validators</i> to ERROR, all its decendents get the same level - <i>Validators.IsNumeric</i>, <i>Validators.IsRequired</i>,
<i>Validators.IsNumeric.exceptionHandler</i>, etc.
</p>

<p>
In case you're worried about having loggers floating around that you're not even using, don't. A logger only takes up space
if you actually use it.
</p>

<p>
The default level of the root logger is DEBUG. So by default, TRACE messages do not get logged, but messages
of severity DEBUG and higher do get logged. This means that if you want to give all your loggers
the level FATAL (to stop all non-FATAL messages from being logged), you only need to 
<a href="@Url.Action("Configuration")#config-level">set the level</a> of the root logger: 
</p>

<pre>
&lt;root&gt;
   &lt;level value="FATAL"&gt;
&lt;/root&gt;
</pre>

<p>
(This won't change the level of loggers whose level you set explicitly.)
</p>

<p>
If you have many loggers, it makes sense to adopt a naming scheme, such as 
<a href="@Url.Action("JavaScriptFunctions")#recommendednaming">this one</a>.
</p>

<a name="long-appenders"></a><h3>Appenders</h3>
<p>
Loggers do not send messages to the server themselves. Instead, they send their messages to an appender, which in turn
sends them to the server. In a moment, we'll see 
<a href="#long-appenders-associatewithlogger">how to associate an appender with a logger</a>.
</p>
<p>
When messages are received on the server, they are processed by JSNLog.dll, the server side bit of JSNLog. This 
hands the messages to a third party package, Common.Logging. This in turn uses the adapter you installed during installation
to pass the messages on to your favorite 
server side logging package, such as Log4Net, NLog, etc.
</p>
<img src="/Images/messageflow.png" />
<p>
You can 
<a href="@Url.Action("Configuration")#config-appender">configure appenders</a> in your web.config, for example
 to 
batch messages:
</p>
<pre>
&lt;appender name="appender1"&gt;
   &lt;batchSize value="2"&gt;
&lt;/appender&gt;
</pre>

<a name="long-appenders-associatewithlogger"></a><h4>Associating appenders with loggers</h4>
<p>
You can associate an appender with a logger in your web.config:
</p>
<pre>
&lt;appender name="appender1"&gt;
   ...
&lt;/appender&gt;

&lt;logger name="mylogger"&gt;
   <b>&lt;appender-ref ref="appender1"&gt;</b>
&lt;/logger&gt;
</pre>

<p>
However, you wouldn't want to have to associate all your loggers with an appender this way.
This is solved in the 
<a href="#long-logger-inheritance">same way</a> as was done for logger levels - through inheritance.
</p>
<p>
A logger inherits the appender that its parent is associated with. If a logger doesn't have a parent, it inherits 
the appender from the root logger. 
</p>
<p>
Note that this means that if you associate an appender with a logger in your web.config
and that logger's parent also had an appender, than your logger now has two appenders!
As a result, each time the logger sends a message, it will be sent twice over the Internet, once by each appender.
You can prevent this by using the 
<a href="@Url.Action("Configuration")#config-logger-additivity">additivity</a> attribute to tell a logger not to inherit appenders from its parent:
</p>
<pre>
&lt;appender name="appender1"&gt;
   ...
&lt;/appender&gt;

&lt;logger name="mylogger" <b>additivity="false"</b>&gt;
   &lt;appender-ref ref="appender1"&gt;
&lt;/logger&gt;
</pre>

<a name="long-appenders-associatewithrootlogger"></a><h4>Associating an appender with the root logger</h4>
<p>
In the same way you can associate an appender with a logger,
you can 
<a href="@Url.Action("Configuration")#config-appender-ref">associate an appender with the root logger</a> in your web.config. 
It will then be used by all your loggers
(unless you use the 
<a href="@Url.Action("Configuration")#config-logger-additivity">additivity</a> attribute).
</p>
<p>
However, you don't have to. 
If you do not associate an appender with the root logger,
JSNLog will create a default appender behind the scenes and associate that with the root logger for you.
That way, you can start logging without having to configure things in your web.config.
</p>

<p>
One reason to explicitly associate an appender with the root logger in your web.config is 
if you want all log messages to be batched. This can reduce the load on your server.
For example, by using a batch size of 2, you cut the number of logging requests to your server in 2, because
each request now carries 2 log messages instead of just one:
</p>

<pre>
&lt;appender name="appender1"&gt;
   <b>&lt;batchSize value="2"&gt;</b>
&lt;/appender&gt;

&lt;root&gt;
   &lt;appender-ref ref="appender1"&gt;
&lt;/root&gt;
</pre>

<h4>Appenders have levels too</h4>
<p>
Like loggers, appenders have a level. If a logger sends a message to an appender with a severity lower than the appender's level,
the appender won't process it. So for a message to get logged, its severity must be higher than the level of both the logger and the appender. 
</p>
<p>
You can 
<a href="@Url.Action("Configuration")#config-level">set the level of an appender</a> in your web.config:
</p>
<pre>
&lt;appender name="appender1"&gt;
   &lt;level value="ERROR"&gt;
&lt;/appender&gt;
</pre>

<p>
If you do not specify an appender's level, it has level TRACE. Because that is the lowest severity, 
this means it will process all messages it gets from a logger. 
</p>

<a name="long-logger-multipleappenders"></a><h4>Multiple appenders</h4>
<p>
You saw earlier how
<a href="#long-appenders-associatewithlogger">loggers can have multiple appenders</a>. This means that when the logger sends a message,
it is logged multiple times, once for each appender. How could this ever be useful?
</p>

<p>
Suppose you 
<a href="#long-appenders-associatewithrootlogger">batch your log messages</a>. This means log messages will be held on the client
until there are enough to make up a batch. That's great for TRACE messages. However, you may not want to hold up
FATAL messages this way.
</p>

<p>
The solution is to configure the root logger, so all loggers send their messages to two appenders:
</p>
<ul>
<li>
One appender that batches log messages, and that accepts all messages.
</li>
<li>
And a second appender that does not batch messages, but that accepts only FATAL messages.
</li>
</ul>
<p>
This way, only FATAL messages get logged twice. And you are sure that FATAL messages get sent right away by the second appender.
</p>
<p>
It would look like this in your web.config:
</p>
<pre>
&lt;appender name="Standard Appender"&gt;
   <b>&lt;batchSize value="2"&gt;</b>
&lt;/appender&gt;

&lt;appender name="High Priority Appender"&gt;
   &lt;level value="FATAL"&gt;
&lt;/appender&gt;

&lt;root&gt;
   &lt;appender-ref ref="Standard Appender"&gt;
   &lt;appender-ref ref="High Priority Appender"&gt;
&lt;/root&gt;
</pre>

