<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.ActionLink("Home", "Index", "Home")
    |
    @Html.ActionLink("Level1/Page1", "Page1", "Level1")
    |
    @Html.ActionLink("Console Appender", "ConsoleAppender", "Home")


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
