<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - JSNLog</title>
    <meta name="description" content="@ViewBag.Description" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico">
</head>

<body>
    <header>
        <div class="container">
            @Html.Partial("Partials/_Logo")
            @Html.Partial("Partials/_MainMenu")
        </div>
    </header>

    <section class="hero">
        <div class="container">
            @RenderSection("Hero",false)
        </div>
    </section>

    <section class="page-body">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="subfooter">
                &copy; 2013 <a href="http://mattperdeck.com/page/About-Matt-Perdeck.aspx" target="_blank">Matt Perdeck</a> |
                <a href="https://github.com/mperdeck/jsnlog/issues" target="_blank">Issues</a> |
                <a href="/Version1/Home" target="_blank">Documentation for version 1.1</a>
            </div>
        </div>
    </footer>
</body>
</html>
