@using ViewExtensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - JSNLog</title>
    <meta name="description" content="@ViewBag.Description" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45657268-1', 'jsnlog.com');
      ga('send', 'pageview');

    </script>
</head>

<body>
    <header>
        <div class="container">
            @Html.Partial("Partials/_Logo")
            @Html.Partial("Partials/_MainMenu")
        </div>
        <div class="versions container" style="margin-top: 10px;">
            @Html.VersionSwitcher()
        </div>
    </header>

    <section class="hero">
        <div class="container">
            @RenderSection("Hero",false)
        </div>
    </section>

    <section class="page-body">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="subfooter">
                &copy; 2013 <a href="http://mattperdeck.com/page/About-Matt-Perdeck.aspx" target="_blank">Matt Perdeck</a> |
                <a href="/Version1/Home" target="_blank">Documentation for version 1.1</a>
            </div>
        </div>
    </footer>
</body>
</html>
