@using ViewExtensions

@{
    Layout = "~/Views/Shared/_DocumentationLayout.cshtml";
}

<p>
    @ViewBag.Description
</p>

@*---------------------------------------*@

@SectionAndHeader("Definition")

@*---------------------------------------*@
@{
    var childrenTable = Html.ChildrenTable(column1Header: "Member", cssClass: "table medium");  
}

@if (!MvcHtmlString.IsNullOrEmpty(childrenTable))
{
<h2>Members</h2>
}

@childrenTable

@*---------------------------------------*@

@SectionAndHeader("Remarks")

@SectionAndHeader("Examples")

@RenderBody()

@*---------------------------------------*@

@helper SectionAndHeader(string sectionName)
{
    if (IsSectionDefined(sectionName))
    {
        <section class="@sectionName">
            <a name="@sectionName"></a><h2>@sectionName</h2>
            @RenderSection(sectionName,false)
        </section>
    }
}


