@{
    Layout = "~/Areas/Version1/Views/Shared/_Layout.cshtml";
}

<div class="documentation">
    <div class="documentation-menu">
    <ul>
        <li>
        @Html.ActionLink("Benefits", "Benefits")
        </li>
        <li>
        @Html.ActionLink("Installation", "Install")
        </li>
        <li>
            @Html.ActionLink("Getting Started", "GettingStarted")
            <ul>
                <li><a href="@Url.Action("GettingStarted")#shortstory">Short version</a></li>
                <li><a href="@Url.Action("GettingStarted")#longstory">Detailed version</a></li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("JavaScript Functions", "JavaScriptFunctions")
            <ul>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-getLogger">getLogger</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-getRootLogger">getRootLogger</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-trace">trace</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-debug">debug</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-info">info</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-warn">warn</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-error">error</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-fatal">fatal</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-time">time</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-timeEnd">timeEnd</a></li>
                <li><a href="@Url.Action("JavaScriptFunctions")#js-assertEqual">assertEqual</a></li>
            </ul>
        </li>
        <li>
        @Html.ActionLink("Configuration", "Configuration")
        <ul>
            <li><a href="@Url.Action("Configuration")#config-jsnlog">&lt;jsnlog&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-appender">&lt;appender&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-root">&lt;root&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-logger">&lt;logger&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-level">&lt;level&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-userAgentRegex">&lt;userAgentRegex&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-ipRegex">&lt;ipRegex&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-appender-ref">&lt;appender-ref&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-batchSize">&lt;batchSize&gt; Element</a></li>
            <li><a href="@Url.Action("Configuration")#config-timerInterval">&lt;timerInterval&gt; Element</a></li>
        </ul>
        </li>
    </ul>
    </div>

    <div class="documentation-body">
    @RenderBody()
    </div>
</div>
