<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Areas/Version1/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div style="border: 2px red solid; font-weight: bold; text-align: center;">
        <p>
        This subsection contains documentation for a previous version of JSNLog, version 1.1. It does not apply to other versions.
        </p>
        <p>
            Unless you use this previous version 1.1, refer to the <a href="/">main site</a>.  
        </p>
    </div>
    <header>
        <div class="container">
            @Html.Partial("Partials/_Logo")
            @Html.Partial("Partials/_MainMenu")
        </div>
    </header>

    <section class="hero">
        <div class="container">
            @RenderSection("Hero",false)
        </div>
    </section>

    <section class="page-body">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="subfooter">
                &copy; 2013 <a href="http://mattperdeck.com/page/About-Matt-Perdeck.aspx" target="_blank">Matt Perdeck</a>
            </div>
        </div>
    </footer>
</body>
</html>
