@using ViewExtensions
@using WebSite.App_Code

@{
    ViewBag.Title = "Better JavaScript Logging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Hero {
    <section class="hero large-text">
        <section class="benefits" style="float: left; width: 650px; margin-top: 5px;">
@if (PageVersions.CurrentVersion() == "NetJs")
{
            <h1>Client side logging integrated with ASP.NET and MVC</h1>
            <p>


            JSNLog lets you insert loggers in your client side JavaScript,
            configure them in your web.config, and store their messages
            in your server side logs - without any server side coding.
            </p>
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
            <h1>JavaScript logging redone</h1>
            <p>
                JSNLog.js 
                is a tiny JavaScript logging library, simple and well documented.
                It has unique options to cut down on the amount of logging data you receive while 
                still getting the information you actually need.
            </p>
}
        </section>
<div class="download" style="float: right; margin-bottom: 10px;"> 
        @Html.Raw(Html.Partial("Partials/_DownloadButton").ToHtmlString())
        </div>

        @if (PageVersions.CurrentVersion() == "NetJs")
        {
            <div class="nugetline">PM> Install-Package JSNLog</div>
        }

    </section>
}

<section class="features">
    <div class="leftColumn">

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Works with your server side loggers",
        @"<ul class=""halfspaced noindent"">
        <li>
Sends log messages from the client to the server using AJAX.
        </li>
        <li>
Hands the log messages to your server side logging package.
        </li>
        <li>
Supports Log4Net, NLog, Elmah, Common.Logging.
        </li>
        <li>
<a href='https://github.com/mperdeck/jsnlog#contributors-welcome'>Integrate JSNLog with Java</a>.
        </li>
        </ul>")
}

        @Feature(
            "",
            @"Insert loggers in your JavaScript",
            @"<pre>JL(""jsLogger"").fatal(""log message"");</pre>")

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Configure loggers in your web.config",
        @"<pre>&lt;logger name=""jslogger"" level=""FATAL"" /&gt;</pre>
")
}

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Or configure them in your JavaScript code",
        @"<pre>JL(""jsLogger"").setOptions({ ""level"": 4000 });</pre>
")
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Configure loggers in your JavaScript code",
        @"<pre>JL(""jsLogger"").setOptions({ ""level"": 4000 });</pre>
")
}

@*===========================================================*@

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Reduce AJAX requests by batching log messages",
        @"<pre>&lt;ajaxAppender name=""appender1"" batchSize=""3""/&gt;</pre>
")
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Reduce AJAX requests by batching log messages",
        @"<pre>appender.setOptions(
    { ""batchSize"": 3 });</pre>
")
}

@*===========================================================*@

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Only log for certain user agents or IP addresses",
        @"<pre>&lt;logger userAgentRegex=&quot;MSIE 7|MSIE 8&quot; /&gt;</pre>
")
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Only log for certain user agents or IP addresses",
        @"<pre>JL().setOptions(
    { ""userAgentRegex"": ""MSIE 7|MSIE 8"" });</pre>
")
}

@*===========================================================*@

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Suppress messages that match a regular expression",
        @"<pre>&lt;logger disallow=""suppress me"" /&gt;</pre>
")
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Suppress messages that match a regular expression",
        @"<pre>JL(""jsLogger"").setOptions(
    { ""disallow"": ""suppress me"" });</pre>
")
}

@*===========================================================*@

    @Feature(
        "",
        @"Log objects as well as strings",
        @"<pre>var obj = {""f1"": ""v1"", ""f2"": ""v2""};
JL().log(2500, obj);</pre>
")

    @Feature(
        "",
        @"Pass in function that returns log info",
        @"<pre>JL().log(2500, function() { 
    // Only executed when log info 
    // will actually be logged.
    var loginfo = expensiveOperation();
    return loginfo; 
});</pre>
")

    </div>
    <div class="rightColumn">

@*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*@

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Limit total messages sent to server",
        @"<pre>&lt;jsnlog maxMessages=""3""&gt;</pre>
")
}
@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Limit total messages sent to server",
        @"<pre>JL.setOptions({""maxMessages"": 3});</pre>")
}

@*===========================================================*@

@if (PageVersions.CurrentVersion() == "JsOnly")
{
    @Feature(
        "",
        @"Easily send logging data to the server",
        @"Built in AjaxAppender uses simple, well documented message format. 
")
}

@*===========================================================*@

@if (PageVersions.CurrentVersion() == "NetJs")
{
    @Feature(
        "",
        @"Store client side log messages in your server side logs",
        @"
<table class=""log"">
<tr><th style=""width: 120px"">Logger</th><th>Message</th></tr>
<tr><td>csLogger</td><td>Server side error message</td></tr>
<tr><td>jsLogger</td><td>Client side fatal message</td></tr>
<tr><td>csLogger2</td><td>Server side info message</td></tr>
<tr><td colspan=""2"">...</td></tr>
</table>
")
}

    @Feature(
        "",
        @"Suppress duplicate messages",
        @"
<table class=""log"">
<tr><th style=""width: 120px"">Logger</th><th>Message</th></tr>
<tr><td>jsLogger</td><td>x too high (x = 5)</td></tr>
<tr style=""text-decoration: line-through;""><td>jsLogger</td><td>x too high (x = 6)</td></tr>
<tr style=""text-decoration: line-through;""><td>jsLogger</td><td>x too high (x = 7)</td></tr>
<tr style=""text-decoration: line-through;""><td>jsLogger</td><td>x too high (x = 8)</td></tr>
<tr style=""text-decoration: line-through;""><td>jsLogger</td><td>x too high (x = 9)</td></tr>
</table>
")

    @Feature(
        "",
        @"Get the info you need, but only <u>when</u> you need it",
        @"<ul class=""spaced noindent"">
        <li>
        To solve JavaScript exceptions, you often need to know what happened before they happened. 
        </li>
        <li>
        But you don't want to send trace messages with that context unless there actually is an exception.
        </li>
        <li>
        Solution: JSNLog lets you buffer log messages on the client, and only send them 
when there is a fatal message.
        </li>
        </ul>")

    @Feature(
        "",
        @"See which messages belong to the same request",
        @"
<table class=""log"">
<tr><th style=""width: 120px"">Request ID</th><th>Message</th></tr>
<tr><td class=""highlight""><span>D623A22B-3454....</span></td><td>An error message</td></tr>
<tr><td>CB0734CE-4C99....</td><td>A fatal message</td></tr>
<tr><td class=""highlight""><span>D623A22B-3454....</span></td><td>Some other message</td></tr>
<tr><td colspan=""2"">...</td></tr>
</table>
")
    </div>
</section>

@helper Feature(string title, string text, string code)
    {
    @Html.Raw(@"<section class=""feature"">" +
            //"<h2>" + title + "</h2>" + 
        @"<h2 class=""text"">" + text + "</h2>" +
        (string.IsNullOrEmpty(code) ? "" : @"<section class=""code"">" + code + "</section>") +
    "</section>")
}




