@using ViewExtensions

@{
    string currentVersion = PageVersions.CurrentVersion();
    bool showMenu = (currentVersion == "JsOnly") || (currentVersion == "NetJs");
}

@if (showMenu)
{
        <ul class="nav navbar-nav navbar-right">
            @if (currentVersion == "JsOnly")
            {
                <li class="hidden-xs">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
            }
            <li>
                @Html.ViewLink("downloadinstall")
            </li>
            <li>
                @Html.ViewLink("getstartedlogging")
            </li>
            <li>
                @if (currentVersion == "NetJs")
                {
                    @Html.ViewLink("webconfig", "Documentation")
                }
                @if (currentVersion == "JsOnly")
                {
                    @Html.ViewLink("jsnlogjs", "Documentation")
                }
            </li>
            @if (currentVersion == "NetJs")
            {
                <li>
                    <a href="https://vimeo.com/channels/jsnlog/videos" target="_blank">Videos</a>
                </li>
            }
            <li class="hidden-xs">
                @if (currentVersion == "NetJs")
                {
                    <a href="https://github.com/mperdeck/jsnlog" target="_blank">Source</a>
                }
                @if (currentVersion == "JsOnly")
                {
                    <a href="https://github.com/mperdeck/jsnlog.js" target="_blank">Source</a>
                }
            </li>
            <li class="hidden-xs">
                @if (currentVersion == "NetJs")
                {
                    <a href="https://github.com/mperdeck/jsnlog/issues" target="_blank">Support</a>
                }
                @if (currentVersion == "JsOnly")
                {
                    <a href="https://github.com/mperdeck/jsnlog.js/issues" target="_blank">Support</a>
                }
            </li>
        </ul>
}
    

